/im-pc/AutoUpdate/AutoUpdate/obj
/im-pc/IPlugins/bin
/im-pc/MaterialSkin/obj
/im-pc/MaterialSkin/bin
/im-pc/ScreenshotTool/obj
/im-pc/ScreenshotTool/bin
/im-pc/TalkBubble/obj
/im-pc/TalkBubble/bin
/im-pc/WinFrmTalk/bin
/im-pc/packages
/im-pc/.vs
/im-pc/IPlugins/obj
