<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net461" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net461" />
  <package id="CefSharp.Common" version="75.1.143" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="75.1.143" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net40" />
  <package id="FFmpeg.AutoGen" version="4.2.2.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net40" />
  <package id="NAudio" version="1.8.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net40" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
  <package id="sqlSugar" version="4.9.9.2" targetFramework="net40" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net461" />
  <package id="ThoughtWorks.QRCode" version="1.1.0" targetFramework="net40" />
  <package id="Vlc.DotNet.Core" version="3.0.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="3.0.0" targetFramework="net461" />
</packages>